.footergenerico { 
    color:white;
    background-color: #2E2E2E;
    text-align: center;
    padding: 10px;
}

.botoncarrito{
    background-color: transparent;
    border: 0;
}

.container{
    padding: 30px;
    
}

.card{
    margin: 10px;
    align-items: center;    
    box-shadow: 0px 2px 5px 0px #5e5a5a;
}


.card img { 
    
    width: 174px;
    height: 174px;
    
}


.mi-popup-swal{
    background-color: #FFFFFF;
    width: 284px;
    height: 99px;
    font-size:xx-small ;
    border-left: 4px solid #007BFF;    
    border-radius: 2,74px;
    
}


